<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
  <p>Apple Stock Quote from Stock Quote: <%= @latest_apple_quote %>
  <p>Apple 52 week high: <%= @year_high %>


<% end %>
